sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
grpcio
grpcio-tools
pinecone-client
pinecone-client[grpc]==5.0.1
langchain-pinecone
langchain-community
langchain-openai
langchain-experimental
-e .
